* {
    margin: 0;
}

body {
    margin: 24px;
    background-color: bisque;
}

#container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 80%;
    margin: 16px auto;
}

th {
    background-color: blueviolet;
    color: white;
}

tbody {
    background-color: rgb(122, 198, 233);
}

.time {
    background-color: black;
    border-radius: 12px;
    padding: 6px;
    color: aliceblue;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    #container {
        width: 100%;
    }

    table {
        width: 100%;
    }
}