<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/jquery"></script>
    <script src="https://fastly.jsdelivr.net/npm/acorn@8.7.1/dist/acorn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">



    <title>PM2.5全台資訊</title>
    <style>
        #main {
            text-align: center;
            margin: 0 auto;
            width: 1024px;
            height: 480px;
            margin-top: 20px;
            color: white;
        }

        @media screen and (max-width: 768px) {
            #main {
                width: 400px;
            }

        }
    </style>
</head>

<body>
    <section class="hero is-danger is-fullheight">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    PM2.5資訊
                </p>
                <p class="subtitle">
                    資料來源:
                    <a href="https://data.gov.tw/dataset/34827">https://data.gov.tw/dataset/34827</a>
                </p>
                <div class="columns">
                    <div class="column is-6 box" id="main">

                    </div>

                    <!-- <div class="column is-6 box">
                        測試
                    </div> -->
                </div>
            </div>
        </div>
    </section>



</body>
<script>
    let chart = echarts.init(document.querySelector("#main"));
    // import * as echarts from 'echarts';
    window.addEventListener("resize", function () {

        chart.resize();

    });


    $.ajax(
        {
            url: "/get-pm25-data",
            type: "POST",
            dataType: "json",
            success: (datas) => {
                console.log(datas);
                draw_chart(chart, datas['stationName'], datas['result'])
            },
            error: () => {
                console.log("loading error..");
            }
        }

    );


    // draw_chart(chart);
    function draw_chart(myChart, dataAxis, data) {
        // prettier-ignore
        // let dataAxis = ['点', '击', '柱', '子', '或', '者', '两', '指', '在', '触', '屏', '上', '滑', '动', '能', '够', '自', '动', '缩', '放'];
        // prettier-ignore
        // let data = [220, 182, 191, 234, 290, 330, 310, 123, 442, 321, 90, 149, 210, 122, 133, 334, 198, 123, 125, 220];
        let yMax = 500;
        let dataShadow = [];
        for (let i = 0; i < data.length; i++) {
            dataShadow.push(yMax);
        }
        option = {
            title: {
                text: '特性示例：渐变色 阴影 点击缩放',
                subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
            },
            xAxis: {
                data: dataAxis,
                axisLabel: {
                    inside: true,
                    color: '#fff'
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
                z: 10
            },
            yAxis: {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    color: '#999'
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                {
                    type: 'bar',
                    showBackground: true,
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            { offset: 0, color: '#83bff6' },
                            { offset: 0.5, color: '#188df0' },
                            { offset: 1, color: '#188df0' }
                        ])
                    },
                    emphasis: {
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                { offset: 0, color: '#2378f7' },
                                { offset: 0.7, color: '#2378f7' },
                                { offset: 1, color: '#83bff6' }
                            ])
                        }
                    },
                    data: data
                }
            ]
        };
        // Enable data zoom when user click bar.
        const zoomSize = 6;
        myChart.on('click', function (params) {
            console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
            myChart.dispatchAction({
                type: 'dataZoom',
                startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                endValue:
                    dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
            });
        });
        // 使用刚指定的配置项和数据显示图表。
        // charts.setOption(option);
        option && myChart.setOption(option);
    }

</script>

</html>